:root {
  --main-bg-color: dimgrey;
}

body {
  background-color: rgb(194, 194, 214);
}

button {
  background-color: grey;
  color: white;
  border: 1px solid black;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.3rem;
}
button:hover {
  border: solid 1px white;
  color: black;  
}                

p {
  background-color: black;
  color: yellow;
  margin: 0;
  min-height: 1.3rem;
  font-family: 'Orbitron', sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(5, 2fr);
  width: 25vw;
  height: 65vh;
  position: relative;
  left: 28vw;
  top: 15vh;
  background-color: black;
  padding: .5rem;
}

.expression {
  grid-row: 1;
  grid-column: 1 / 5;
  display: grid;
  grid-template-rows: 1fr 2fr;
  text-align: right;
}

.expression p {
  font-size: 1rem;
}

.result {
  align-self: center;
}

.result p {
  font-size: 1.5rem;
}

.ac {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color: indianred;
}

.divid {
  grid-column: 3;
  grid-row: 2;
}

.multiply {
  grid-column: 4;
  grid-row: 2;
}

.seven {
  grid-column: 1;
  grid-row: 3;
  background-color: var(--main-bg-color);
}

.eight {
  grid-column: 2;
  grid-row: 3;
  background-color: var(--main-bg-color);
}

.nine {
  grid-column: 3;
  grid-row: 3;
  background-color: var(--main-bg-color);
}

.minus {
  grid-column: 4;
  grid-row: 3;
}

.four {
  grid-column: 1;
  grid-row: 4;
  background-color: var(--main-bg-color);
}

.five {
  grid-column: 2;
  grid-row: 4;
  background-color: var(--main-bg-color);
}

.six {
  grid-column: 3;
  grid-row: 4;
  background-color: var(--main-bg-color);
}

.plus {
  grid-column: 4;
  grid-row: 4;
}

.one {
  grid-column: 1;
  grid-row: 5;
  background-color: var(--main-bg-color);
}

.two {
  grid-column: 2;
  grid-row: 5;
  background-color: var(--main-bg-color);
}

.three {
  grid-column: 3;
  grid-row: 5;
  background-color: var(--main-bg-color);
}

.equals {
  grid-column: 4;
  grid-row: 5 / 7;
  background-color: darkslateblue;
}

.zero {
  grid-column: 1 / 3;
  grid-row: 6;
  background-color: var(--main-bg-color);
}

.dot {
  grid-column: 3;
  grid-row: 6;
  background-color: var(--main-bg-color);
}
